.page {
    &-enter {
        &-from {
            opacity: 0;
        }

        &-active {
            transition: opacity .2s;
        }
    }

    &-leave {
        &-to {
            opacity: 0;
        }

        &-active {
            transition: opacity .2s;
        }
    }
}


.in_fadeInUp {
    opacity: 0;
    transform: translate3d(0, 2rem, 0);
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);

}
.in_textInUp {
    transform: translate3d(0, 100%, 0);
    transition: all 1s cubic-bezier(0.76, 0, 0.24, 1);
    
}
.is-inview {
   .in_fadeInUp {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
    .in_textInUp {
        transform: translateY(0);
    }

    &.-delay-loop {
        @for $i from 2 through 20 {
            &:nth-child(#{$i}) {
                 transition-delay: calc((#{$i} / 10 ) * 1s);
            }
        }  
    }
    &.-delay-1 {
        transition-delay: .1s;
    }
    &.-delay-2 {
        transition-delay: .2s;
    }
    &.-delay-3 {
        transition-delay: .3s;
    }
}


@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(1rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleInY {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}