@use 'sass:map';
@use '../config' as *;
@use '../mixins/_breakpoint' as *;

// > Container
// > ------------------------------------------------------------------------

@each $break, $breakpoint in $breakpoints {
    @include media-breakpoint-up($break) {
        .container {
            padding-right: map.get($container-margin, $break);
            padding-left: map.get($container-margin, $break);
            width: 100%;

            // 固定寬使用
            // width: map.get($container-max-widths, $break);
            // margin: 0 auto;
        }
    }
}