// > Basic Settings
// > ------------------------------------------------------------------------
:root {
    --color-brand-1: #21B34B;
    --color-black-1: #000000;
    --color-black-2: #313032;
    --color-gray-1: #DBDBDB;
    --color-gray-2: #EFEFEF;
    --color-gray-3: #7E7A7599;
    --color-white-1: #FFFFFF;

    --border-width: 1px;
    --border-radius: 0.4rem;
    --transition-speed: 0.2s;
    
}


// > Typography
// > ------------------------------------------------------------------------
// 特殊字體安裝
// 如果可以的話，建議使用 @font-face 安裝，避免使用 @import 引入
// @font-face {
//     font-family: 'DINPro';
//     src: url('@/assets/fonts/dinpro.woff2') format('woff2'),
//          url('@/assets/fonts/dinpro.woff') format('woff'),
//          url('@/assets/fonts/dinpro.ttf') format('truetype'),
//          url('@/assets/fonts/dinpro.eot'); /* IE fallback */
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

$font-weight-black: 900;
$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

// 初始字體風格設定用 https://systemfontstack.com/
$font-sans-zh: 'Noto Sans TC', 'PingFang TC', 'Heiti TC', 'Microsoft JhengHei', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$font-sans-jp: 'Noto Sans JP', 'Hiragino Sans', 'Yu Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$font-sans-en: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$font-display: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;

:root { font-family: $font-sans-zh; }
:lang(en) { font-family: $font-sans-en; }
:lang(ja) { font-family: $font-sans-jp; }


$typography: (
  // key            size lh  ls(em)   weight                  family
  'display_80':     (80, 1.3, 0,      $font-weight-extrabold, $font-display),
  'display_44':     (44, 0.9, 0,      $font-weight-extrabold, $font-display),
  'display_40':     (40, 1.2, 0,      $font-weight-medium,    $font-display),

  'head_32':        (32, 1.6, 0.01,   $font-weight-bold,      $font-sans-zh),
  'head_28':        (28, 1.6, 0.01,   $font-weight-bold,      $font-sans-zh),
  'head_24':        (24, 1.6, 0,      $font-weight-bold,      $font-sans-zh),
  'head_20':        (20, 1.6, 0,      $font-weight-bold,      $font-sans-zh),
  'head_16':        (16, 1.4, 0,      $font-weight-bold,      $font-sans-zh),
  'head_14':        (14, 1.4, 0,      $font-weight-bold,      $font-sans-zh),

  'bold_16':        (16, 1.6, 0,      $font-weight-bold,      $font-sans-zh),
  'bold_14':        (14, 1.6, 0,      $font-weight-semibold,  $font-sans-zh),

  'enbold_16':      (16, 1,   0,      $font-weight-extrabold, $font-sans-en),
  'enbold_14':      (14, 1,   0,      $font-weight-extrabold, $font-sans-en),

  'body_16':        (16, 1.6, 0,      $font-weight-regular,   $font-sans-zh),
  'body_14':        (14, 1.6, 0,      $font-weight-regular,   $font-sans-zh),
  'body_12':        (12, 1.6, 0,      $font-weight-regular,   $font-sans-zh)
);


// > HTML 結構設定
// > ------------------------------------------------------------------------


html {
    font-size: 62.5%; // 1rem = 10px

    // 關閉瀏覽器預設的滾動條
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */


    @media (min-width: 1600px) {
        font-size: 0.6vw;
    }

    @media (max-width: 1024px) {
        font-size: 0.8vw;
    }

    @media (max-width: 768px) {
        font-size: 62.5%;
    }

    // @media (max-width: 350px) {
    //     font-size: 0.7vw;
    // }

}

body {
    font-size: 1.6rem;
    // background-color: var(--color-brand-1);
}

// 關閉 Nuxt 預設的 loading
.nuxt-loading-indicator {
    display: none;
}


::selection {
    color: #fff;
    background-color: #000;
}



// > Grid
// > ------------------------------------------------------------------------

$grid-gutter-width: 2.4rem; // _layout.scss 在使用

$container-margin: (
    mobile:   2.4rem,
    tablet:   2.4rem,
    medium:   4.8rem,
    desktop:  4.8rem,
    large:    4.8rem,
);

$gutter: (
    mobile:   1.6rem,
    tablet:   1.6rem,
    desktop:  2.4rem,
);

$grid-columns: (
    mobile:   4,
    tablet:   8,
    medium:   12,
    desktop:  12,
    large:    12,
);


$container-max-widths: (
    mobile:   100%,
    tablet:   100%,
    medium:   960px,
    desktop:  1180px,
    large:    1180px,
);

// > rwd
// > ------------------------------------------------------------------------

$breakpoints: (
    mobile:  0px,
    tablet:  768px,
    medium:  1024px,
    desktop: 1280px,
    large:   1441px,
);
