
@import '../settings/typography.scss';

@import '../settings/config.scss';
@import './breakpoint.scss';
@import './container.scss';
@import './editor.scss';
@import './layout.scss';


// @include get-container;
// @include grid-system;


// 小工具們
// =============================================================================

// 比例
@mixin aspect($ratio) {
    &::before {
        content: '';
        display: block;
        padding-bottom: percentage($ratio);
    }
}

// 寬高
@mixin size($w, $h: $w) {
    width: $w;
    height: $h;
}


// 文字過多用 ... 隱藏
@mixin text-ellipsis($row: 1) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    box-decoration-break: clone;
    -webkit-line-clamp: $row;
    -webkit-box-orient: vertical;
}
