
// > Color palette
// > ------------------------------------------------------------------------

$colors: (
    brand-1:   #ffe800,
    black-1:   #000000,
    gray:      #cec8c2,
    gray-2:    #6D676E,
    gray-line: #a5a09c,
    white:     #ffffff,
    warning:   #C16200,
    success:   #537A5A,
    error:     #C42021,
);

// > Grid
// > ------------------------------------------------------------------------

$container-margin: (
    mobile:   2.4rem,
    tablet:   4.8rem,
    medium:   4.8rem,
    desktop:  4.8rem,
);

$gutter: (
    mobile:   1.6rem,
    tablet:   2.4rem,
    desktop:  2.4rem,
);

$grid-columns: (
    mobile:   4,
    tablet:   8,
    medium:   12,
    desktop:  12,
    large:    12,
);

$grid-row-columns:  6;
$grid-gutter-width: 2.4rem;

$container-max-widths: (
    mobile:   100%,
    tablet:   100%,
    medium:   100%,
    desktop:  100%,
    large:    1920px,
);

// > Transitions
// > ------------------------------------------------------------------------

$speed:     0.3s;

// > Basic
// > ------------------------------------------------------------------------

$border-radius: 0.4rem;
$border: 1px;


// > rwd
// > ------------------------------------------------------------------------

$breakpoints: (
    mobile:  0px,
    tablet:  768px,
    medium:  1024px,
    desktop: 1200px,
    large:   1920px,
);

