
// Palette
// =============================================================================

$colors: (
    brand-1:   #ffe800,
    black-1:   #000000,
    gray:      #cec8c2,
    gray-line: #a5a09c,
    white:     #ffffff,
);

// Grid
// =============================================================================

$container-margin: (
    mobile:   2.4rem,
    tablet:   4.8rem,
    medium:   4.8rem,
    desktop:  4.8rem,
);

$gutter: (
    mobile:   1.6rem,
    tablet:   2.4rem,
    desktop:  2.4rem,
);

$grid-columns:      12;
$grid-row-columns:  6;
$grid-gutter-width: 2.4rem;

$container-max-widths: (
    mobile:   100%,
    tablet:   100%,
    medium:   100%,
    desktop:  100%,
    large:    1920px,
);

// Transitions
// =============================================================================

$speed:     0.3s;

// Basic
// =============================================================================

$border-radius: 0.4rem;
$border: 1px;


// rwd
// =============================================================================

$breakpoints: (
    mobile:  450px,
    tablet:  768px,
    medium:  1024px,
    desktop: 1200px,
    large:   1920px,
);


$from-tiny:     500px              !default;
$to-tiny:       $from-tiny - 1     !default;
$from-small:    700px              !default;
$to-small:      $from-small - 1    !default;
$from-medium:   1000px             !default;
$to-medium:     $from-medium - 1   !default;
$from-large:    1200px             !default;
$to-large:      $from-large - 1    !default;
$from-big:      1400px             !default;
$to-big:        $from-big - 1      !default;
$from-huge:     1600px             !default;
$to-huge:       $from-huge - 1     !default;
$from-enormous: 1800px             !default;
$to-enormous:   $from-enormous - 1 !default;
$from-gigantic: 2000px             !default;
$to-gigantic:   $from-gigantic - 1 !default;
$from-colossal: 2400px             !default;
$to-colossal:   $from-colossal - 1 !default;

