
// ==========================================================================
// Tools / Grid Columns
// ==========================================================================
// Help: https://css-tricks.com/snippets/css/complete-guide-grid/
//
// Grid layout system.
//
// This tool generates columns for all needed media queries.
// Unused classes will be purge by the css post-processor.
//

$colsMax: $grid-columns + 1;


@each $break, $breakpoint in $breakpoints {
    @include media-breakpoint-up($break) {

        // 網格開始
        @for $startIndex from 1 through $colsMax {

            // 網格結束
            @for $endIndex from 1 through $colsMax {

                .col-#{$startIndex}-#{$endIndex}-#{$break} {
                    grid-column-start: #{$startIndex};
                    grid-column-end: #{$endIndex};
                    @media (min-width: #{$breakpoint}) {
                        grid-column-start: #{$startIndex};
                        grid-column-end: #{$endIndex};
                    }
                }
            }
        }
    }
}


// ==========================================================================
// Grid helper
// ==========================================================================
// 
//

 .grid {
    display: grid;
    width: 100%;

    @each $break, $breakpoint in $breakpoints {
        @include media-breakpoint-up($break) {
            grid-template-columns: repeat($grid-columns, 1fr);
            gap: map-get($gutter, desktop);
            column-gap:  map-get($gutter, desktop);
        }
    }

    // &:is(ul, ol) {
    //     margin: 0;
    //     padding: 0;
    //     list-style: none;
    // }

    // // ==========================================================================
    // // Cols
    // // ==========================================================================

    // // Responsive grid columns based on `--grid-columns`
    // &.-cols {
    //     grid-template-columns: repeat(var(--grid-columns), 1fr);
    // }

    // &.-col-#{$grid-columns} {
    //     grid-template-columns: repeat(#{$grid-columns}, 1fr);
    // }

    // &.-col-4 {
    //     grid-template-columns: repeat(4, 1fr);
    // }

    // &.-col-#{$grid-columns}\@from-medium {
    //     @media (min-width: $from-medium) {
    //         grid-template-columns: repeat(#{$grid-columns}, 1fr);
    //     }
    // }

    // ==========================================================================
    // Modifiers
    // ==========================================================================
    // &.-full-height {
    //     height: 100%;
    // }

    // ==========================================================================
    // Aligns
    // ==========================================================================

    // ==========================================================================
    // Items inside cells
    //
    // &.-top-items {
    //     align-items: start;
    // }
    // &.-right-items {
    //     justify-items: end;
    // }
    // &.-bottom-items {
    //     align-items: end;
    // }
    // &.-left-items {
    //     justify-items: start;
    // }
    // &.-center-items {
    //     align-items: center;
    //     justify-items: center;
    // }
    // &.-center-items-x {
    //     justify-items: center;
    // }
    // &.-center-items-y {
    //     align-items: center;
    // }
    // &.-stretch-items {
    //     align-items: stretch;
    //     justify-items: stretch;
    // }

    // ==========================================================================
    // Cells
    //
    // &.-top-cells {
    //     align-content: start;
    // }
    // &.-right-cells {
    //     justify-content: end;
    // }
    // &.-bottom-cells {
    //     align-content: end;
    // }
    // &.-left-cells {
    //     justify-content: start;
    // }
    // &.-center-cells {
    //     align-content: center;
    //     justify-content: center;
    // }
    // &.-center-cells-x {
    //     justify-content: center;
    // }
    // &.-center-cells-y {
    //     align-content: center;
    // }
    // &.-stretch-cells {
    //     align-content: stretch;
    //     justify-content: stretch;
    // }
    // &.-space-around-cells {
    //     align-content: space-around;
    //     justify-content: space-around;
    // }
    // &.-space-around-cells-x {
    //     justify-content: space-around;
    // }
    // &.-space-around-cells-y {
    //     align-content: space-around;
    // }
    // &.-space-between-cells {
    //     justify-content: space-between;
    //     align-content: space-between;
    // }
    // &.-space-between-cells-x {
    //     justify-content: space-between;
    // }
    // &.-space-between-cells-y {
    //     align-content: space-between;
    // }
    // &.-space-evenly-cells {
    //     justify-content: space-evenly;
    //     align-content: space-evenly;
    // }
    // &.-space-evenly-cells-x {
    //     justify-content: space-evenly;
    // }
    // &.-space-evenly-cells-y {
    //     align-content: space-evenly;
    // }
}

// ==========================================================================
// Grid item
// ==========================================================================
// By default, a grid item takes full width of its parent.
//
// .grid_item {
//     grid-column-start: var(--gc-start, 1);
//     grid-column-end: var(--gc-end, -1);

//     &.-align-end {
//         align-self: end;
//     }
// }
