body {
    @include typo('body', 16);
    background-color: map-get($colors, gray);


    &.is-loading {
        cursor: progress;

        #es-app {
            pointer-events: none;
        }
    }
    &::-webkit-scrollbar {
        display: none;
    }
}